<p>Ingrese sus datos para iniciar sesión</p>

<form action="/login/" method="post">

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
    <br>

    <label for="contrasenia">Contraseña:</label>
    <input type="password" id="contrasenia" name="contrasenia">
    <br><br />

    <button type="submit">Enviar</button>

</form>