<h1>Formulario de Producto</h1>

<form action="/productos/venta" method="post" enctype="multipart/form-data">

    <label for="nombre">Nombre: </label><br>
    <input type="text" id="nombre" name="nombre" required><br><br>

    <label for="imagen">Imagen: </label><br> 
    <input type="file" id="imagen" name="imagen" accept="image/*" required onchange="vistaPrevia(event)"><br><br> 
    <img id="vistaPrevia" src="" style="max-width: 300px; display: none;">

    <label for="precio">Precio: </label><br>
    <input type="number" id="precio" name="precio" required min="1"><br><br>

    <label for="stock">Stock: </label><br>
    <input type="number" id="stock" name="stock" required min="1"><br><br>

    <label for="descripcion">Descripción: </label><br>
    <textarea id="descripcion" name="descripcion" required></textarea><br><br>

    <label for="cantidadJugadoresMinimo">Cantidad de jugadores mínimo: </label><br>
    <input type="number" id="cantidadJugadoresMinimo" name="cantidadJugadoresMinimo" required min="1"><br><br>

    <label for="cantidadJugadoresMaximo">Cantidad de jugadores máximo: </label><br>
    <input type="number" id="cantidadJugadoresMaximo" name="cantidadJugadoresMaximo" required min="1"><br><br>

    <label for="duracionPartida">Duración de una partida (en minutos): </label><br>
    <input type="number" id="duracionPartida" name="duracionPartida" required min="1"><br><br>

    <input type="submit" value="Enviar">

</form>

<script src="/js/venta-cliente.js"></script>