<h1>Bienvenido a la tienda de juegos de mesa: AAAAA</h1>

<% if (usuario.nombre) { %>
    Hola, <%= usuario.nombre %>! Bienvenido de nuevo.
<% } else { %>
    Por favor, inicia sesión o regístrese
<% } %>